*~
__pycache__/
/.coverage
/.env
/.env.leave
/.deps-installed
/html/bootstrap.min.css
/html/bootstrap-5.3.6-dist/
/html/fontawesome-free-6.7.2-web/
/html/jquery-3.7.1.min.js
/html/jquery-ui-1.14.1/
/html/jquery-ui-themes-1.14.1/
/html/jquery.ui.touch-punch.js
/node_modules/
/picture.jpeg
